<div class="jumbotron center">
  <h1>Welcome to Entreuse</h1>
  <h2>Publicity Hacking for Anyone Launching Anything</h2>
  <p>We're building our app with One Month Rails!</p>
  <p>
    <%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
    <%= link_to "Sign up", signup_path, class: "btn btn-primary btn-lg" %>
    </p>
</div>